* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: sans-serif;
}

.centered-button {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10vh; 
}

button {
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: #646b56;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #7b836c;
}
